{% set image_url = get_url(path=image_path) | safe %}
<a href="{{ image_url }}.png" target="”_blank”">
  <picture class="image {% if class %}{{class}}{% endif %}">
    <source srcset="{{ image_url }}.webP" type="image/webp" />
    <source srcset="{{ image_url }}.png" type="image/png" />
    <img src="{{ image_url }}.png" loading="lazy" />
  </picture>
</a>
