<div id="container" class="gallery">
  <picture class="image">
    <source srcset="{{ image_path_1 }}.webP" type="image/webp" />
    <source srcset="{{ image_path_1 }}.png" type="image/png" />
    <img src="{{ image_path_1 }}.png" loading="lazy" />
  </picture>
  <picture class="image">
    <source srcset="{{ image_path_2 }}.webP" type="image/webp" />
    <source srcset="{{ image_path_2 }}.png" type="image/png" />
    <img src="{{ image_path_2 }}.png" loading="lazy" />
  </picture>
  <picture class="image">
    <source srcset="{{ image_path_3 }}.webP" type="image/webp" />
    <source srcset="{{ image_path_3 }}.png" type="image/png" />
    <img src="{{ image_path_3 }}.png" loading="lazy" />
  </picture>
  <picture class="image">
    <source srcset="{{ image_path_4 }}.webP" type="image/webp" />
    <source srcset="{{ image_path_4 }}.png" type="image/png" />
    <img src="{{ image_path_4 }}.png" loading="lazy" />
  </picture>
</div>
