{% set video_url = get_url(path=video_path) | safe %}
<div class="video">
    <video width="100%" height="auto" controls>
        <source src="{{ video_url }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>
