<div class="center">
  <iframe width="560"
        height="315"
        src="{{ youtube_url }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
  </iframe>
</div>
