:root {
  --main-bg-color: HSL(0, 0%, 11%);
  --secondary-bg-color: HSL(0, 0%, 21%);
  --main-text-color: HSL(0, 0%, 89%);
  --accent-color: HSL(334, 96%, 28%);
  --accent-background-color: HSL(334, 24%, 78%);
  --grey: HSL(0, 0%, 51%);
  --shadow: HSL(0, 0%, 10%);
  --shadow-hover: HSL(0, 0%, 0%);
}
.phone {
  display: none;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 1.1em;
  margin: 0;
}
a {
  color: var(--main-text-color);
  text-decoration: none;
}
a:visited {
  color: var(--main-text-color);
}
a:hover {
  color: var(--main-text-color);
}
.root-sections {
  border-top: 1px dotted var(--grey);
  text-align: center;
}
.article-head {
  margin-bottom: 10px;
}
.article-links {
  margin-bottom: 20px;
}
.article-links span:after {
  content: " -";
}
.article-links span:last-child:after {
  content: "";
}
h1 {
  text-align: center;
}
:not(pre) > code {
  color: HSL(51, 94%, 87%);
  background-color: HSL(0, 0%, 16%);
}
table,
th,
td {
  border: 1px solid var(--grey);
}
h2 {
  margin-top: 50px;
  padding-bottom: 10px;
}
.grey {
  color: var(--grey);
  line-height: 1.3;
  font-size: 1em;
}
.page-description {
  margin: 4px 0 14px 21px;
}
.image > img {
  max-width: 100%;
  max-height: 620px;
  margin-bottom: 10px;
}
.image {
  display: inline-block;
  max-width: 49%;
}
.solo {
  max-width: 100%;
}
.solo > img {
  max-height: 100%;
}
.gallery {
  overflow-x: auto;
  white-space: nowrap;
  cursor: grab;
  background-color: var(--secondary-bg-color);
  box-shadow: inset 0 0 10px var(--shadow);
}
.gallery > picture {
  display: inline-block;
}
video {
  max-height: 80vh;
}
pre {
  padding: 10px 5px;
  overflow-x: scroll;
}
.content {
  width: 88vw;
  max-width: 1200px;
  margin: auto;
}
li {
  margin-bottom: 6px;
}
.root-sections {
  margin-top: 50px;
  padding-top: 10px;
}
.no-bullet {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
.button,
.cards > a {
  background-color: var(--secondary-bg-color);
  padding: 8px;
  box-shadow: var(--shadow) 0px 2px 8px 0px;
  transition: box-shadow 0.4s ease;
  border: none;
}
.button:hover,
.cards > a:hover {
  box-shadow: var(--shadow-hover) 0px 5px 15px;
}
.legend > p {
  margin-left: 0;
}
.icon {
  width: 18px;
  vertical-align: middle;
}
p,
ul {
  font-family:
    Georgia,
    Times,
    Times New Roman,
    serif;
  line-height: 1.6;
}
div {
  margin-bottom: 30px;
}
.no-bottom {
  margin-bottom: 0;
}
.website-title,
h1 {
  color: var(--accent-color);
  font-family:
    "picnic",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Ubuntu",
    "Roboto",
    "Noto Sans",
    "Droid Sans",
    sans-serif;
}
h2,
h3,
h4,
h5,
h6,
a,
.taxonomy,
.main-description {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Ubuntu",
    "Roboto",
    "Noto Sans",
    "Droid Sans",
    sans-serif;
}
.logo {
  width: 100px;
}
b,
strong {
  font-weight: bold;
  color: var(--accent-color);
}
.projects #menu-projects,
.projects #menu-projects:visited,
.software #menu-software,
.software #menu-software:visited {
  color: var(--main-text-color);
}
p,
ul {
  margin-top: 0;
  margin-bottom: 5px;
}
.website-title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  letter-spacing: -0.05rem;
  margin-top: 0;
}
.subsections {
}
.subsection {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
.root-sections ul {
  columns: 3;
  margin-left: 0;
  padding-left: 0;
}
.root-sections img {
  max-width: 60px;
}
.headline {
  border-bottom: none;
  display: block;
  padding-inline: 1rem;
}
.headline > * {
  vertical-align: middle;
}
.headline img {
  width: 50px;
  display: inline;
}
.headline a,
.headline h1 {
  display: inherit;
  vertical-align: top;
  margin-bottom: 10px;
}
.website-title {
  line-height: 70px;
  font-size: 2rem;
  padding-left: 5px;
}
.navigation {
  background-color: var(--secondary-bg-color);
  box-shadow: var(--shadow) 0px 2px 8px 0px;
}
.navigation-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.nav-item {
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  transition: background-color 0.4s ease;
}
.nav-item:hover {
  color: var(--accent-color);
  background-color: var(--accent-background-color);
}
th {
  min-width: 100px;
  text-align: left;
}
th,
td {
  padding: 10px;
}
table {
  border-collapse: collapse;
  margin-bottom: 10px;
}
h2 {
  margin-top: 30px;
}
h3 {
  margin: 30px 0 10px 0;
}
hr {
  margin: 12px 0;
}
.teaser img {
  width: 100%;
  filter: brightness(40%);
  transition: filter 0.4s ease;
}
.teaser h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.teaser {
  position: relative;
  text-align: center;
  height: 300px;
  overflow: hidden;
  color: HSL(0, 0%, 89%);
  transition: color 0.4s ease;
}
.teaser:hover {
  color: transparent;
}
.teaser:hover > * {
  filter: none;
}
.center {
  text-align: center;
}

/* Home page */

.gradiant {
  margin-bottom: 0;
  background: linear-gradient(
    to top,
    #891652,
    #6e2a59,
    #543455,
    #403749,
    #363636
  );
}
.gradiant > .navigation {
  box-shadow: none;
  background-color: transparent;
  margin-bottom: 0;
}
.homepage-top-section {
  padding-top: 140px;
  margin-bottom: 0;
  text-align: center;
}
.homepage-top-section > .image {
  max-width: unset;
  padding-top: 20px;
}
.homepage-top-section > .image > img {
  width: 88vw;
  max-width: 1200px;
  max-height: unset;
}
.top-text {
  display: flex;
  gap: 40px;
  margin: auto;
  width: 88vw;
  max-width: 1200px;
  font-size: 24px;
}
.main-description {
  text-align: left;
  flex-basis: 40vw;
  text-wrap: balance;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.75rem;
  letter-spacing: -0.5px;
}

.glitch-transition {
  background: linear-gradient(
    0deg,
    var(--main-bg-color) 10%,
    rgba(227, 227, 227, 0) 100%
  );
  height: 174px;
  margin-top: -174px;
}

.hero {
  font-size: clamp(40px, 3.4rem, 60px);
  line-height: 1;
  text-align: center;
  color: var(--main-text-color);
  z-index: 2;
  letter-spacing: 6px;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  max-width: 100vw;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: var(--accent-color);
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.button {
  display: inline-block;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  margin-top: 16px;
  padding: 6px 10px;
  border-radius: 6px;
  text-align: center;
  font-size: 1.2rem;
}
.button:visited {
  color: var(--main-bg-color);
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

@keyframes font {
  0% {
    font-weight: 100;
    color: var(--accent-color);
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: var(--main-text-color);
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: var(--main-text-color);
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: var(--accent-color);
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation:
    paths 5s step-end infinite,
    opacity 5s step-end infinite,
    font 8s step-end infinite,
    movement 10s step-end infinite;
}

.glitch::after {
  animation:
    paths 5s step-end infinite,
    opacity 5s step-end infinite,
    font 7s step-end infinite,
    movement 8s step-end infinite;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}
.feature {
  padding: 1rem;
}
.card_content > h3,
.feature > h3 {
  margin: 0 0 10px 0;
}
@font-face {
  font-family: "picnic";
  src:
    url("../fonts/picnic.woff2") format("woff2"),
    url("../fonts/picnic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: HSL(0, 0%, 89%);
    --secondary-bg-color: HSL(0, 0%, 98%);
    --main-text-color: HSL(0, 0%, 21%);
    --accent-color: HSL(329, 84%, 22%);
    --shadow: HSL(0, 0%, 30%);
    --shadow-hover: HSL(0, 0%, 10%);
  }

  .headline > h1 {
    color: var(--accent-color);
  }
  h1 {
    color: var(--accent-color);
  }
  .projects #menu-projects,
  .projects #menu-projects:visited,
  .software #menu-software,
  .software #menu-software:visited {
    color: var(--main-bg-color);
  }
  .gradiant {
    background: linear-gradient(
      to top,
      HSL(0, 0%, 21%),
      #891652,
      #a25a89,
      #d6c9e0,
      #ffffff
    );
  }
}
@media screen and (max-width: 700px) {
  .subsection {
    width: 100%;
  }
  .root-sections ul {
    columns: 1;
  }
  .teaser {
    height: 170px;
  }
  .thumb_wrapper {
    display: none;
  }
  .navigation-content,
  .top-text {
    flex-wrap: wrap;
    padding-inline: 0;
    justify-content: center;
    padding-bottom: 10px;
  }
  .main-description,
  .headline,
  .hero {
    flex-basis: 100%;
  }
  .headline {
    text-align: center;
  }
  .homepage-top-section {
    padding-top: 40px;
  }
  .desktop {
    display: none;
  }
  .phone {
    display: inline;
  }
  .grid {
    grid-template-columns: 2fr 2fr;
  }
}
