<!doctype html>
<html lang="en">
  {% include "header.html" %}
  <body>
    {% include "main_menu.html" %}
    <div class="content">
      {% block content %} {% endblock content %} {% include "footer.html" %}
    </div>
  </body>
</html>
