<a
  href="https://gitlab.com/png-glitch/glitched-factory/-/blob/main/changelog.md"
>
  <div class="card_content">
    <h3>
      Changelog
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="icon"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
        />
      </svg>
    </h3>
    <div class="no-bottom grey">
      A list of the changes included in each version
    </div>
  </div>
</a>
