 <div class="root-sections">
        {% set index = get_section(path="_index.md") %} {% if index.pages %}
        <ul class="no-bullet">
          {% for page in index.pages %}
          <li>
            <a href="{{ page.permalink }}"> {{ page.title }} </a>
          </li>
          {% endfor %}
          <li>
            <a
              href="{{ get_url(path="atom.xml", trailing_slash=false) }}"
            >Feed</a
                 >
          </li>
          <li>
              <a href="https://www.instagram.com/glitched_factory/">Instagram</a>
          </li>
        </ul>
        {% endif %}
 </div>
