<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <title>
        {% block title %}{% if page.title %}{{ page.title }} - {% endif %}{{
        config.title }}{% endblock title %}
    </title>
    {% set logo_link = get_url(path="images/logo.webP") | safe %} {% block css %}
    <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}"> {%
    endblock css %} {% if config.generate_feed %}
    <link
        rel="alternate"
        type="application/atom+xml"
        title="{{ config.title }} Feed"
        href="{{ get_url(path="atom.xml", trailing_slash=false) }}"
    />
    {% endif %}

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.base_url }}" />
    <meta
        property="og:title"
        content="{% if page.title %}{{ page.title }} - {% endif %}{{
                  config.title }}"
    />
    <meta property="og:description" content="" />
    <meta property="og:image" content="{{ logo_link }}" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{ config.base_url }}" />
    <meta
        property="twitter:title"
        content="{% if page.title %}{{ page.title }} - {% endif %}{{
                  config.title }}"
    />
    <meta property="twitter:image" content="{{ logo_link }}" />
</head>
