<!doctype html>
<html lang="en">
  {% include "header.html" %}
  <body id="homepage">
    <div class="gradiant">
      {% include "main_menu.html" %}
      <div class="homepage-top-section">
        <div class="top-text">
          <h2 class="hero glitch layers" data-text="Glitch art for the masses">
            Glitch art for the masses
          </h2>
          <div class="main-description">
            GlitchedFactory is a free software that make glitch art easy and
            accessible to everyone.<br />
            <a class="button" href="https://duckpuck.itch.io/glitchedfactory"
              >Download on Itch.io</a
            >
          </div>
        </div>

        <picture class="image">
          <source
            srcset="/images/screenshots/home_screenshot.webp"
            type="image/webp"
          />
          <source
            srcset="/images/screenshots/home_screenshot.png"
            type="image/png"
          />
          <img
            src="/images/screenshots/home_screenshot.png"
            alt="GlitchedFactory's screenshot"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="glitch-transition"></div>

    <div class="content">
      <div class="grid">
        <span class="feature">
          <h3>Queue your tasks</h3>
          <span class="grey"
            >Schedule your tasks and let the software execute them
            sequentially.</span
          >
        </span>
        <span class="feature">
          <h3>Glitch folder content</h3>
          <span class="grey"
            >Apply effects to the content of an entire folder with a single
            click.
          </span>
        </span>
        <span class="feature">
          <h3>Sample on a test image</h3>
          <span class="grey"
            >Get a quick overview of all algorithms before commiting to a
            folder.</span
          >
        </span>
        <span class="feature">
          <h3>Convert jpeg images</h3>
          <span class="grey"
            >Convert images or entire folders to PNG format to enable
            glitching.</span
          >
        </span>
        <span class="feature">
          <h3>Light/Dark mode</h3>
          <span class="grey">Choose the theme that makes your eyes happy.</span>
        </span>
        <span class="feature">
          <h3>Grayscale</h3>
          <span class="grey"
            >Convert your image to grayscale to explore various glitch
            effects.</span
          >
        </span>
        <span class="feature">
          <h3>Multi OS</h3>
          <span class="grey"
            >Whether you are a Linux, Windows or Mac user a binary is available
            for your OS.</span
          >
        </span>
        <span class="feature">
          <h3>Embeded documentation</h3>
          <span class="grey"
            >Every information you need to understand this software is available
            in the help tab.</span
          >
        </span>
      </div>
      {% include "footer.html" %}
    </div>
  </body>
</html>
