{% extends "base.html" %} {% block content %}
<div class="subsections">
  {% set index = get_section(path="_index.md") %} {% for s in index.subsections
  %} {% set subsection = get_section(path=s) %}
  <span class="subsection">
    {% if subsection.pages %}
    <ul class="no-bullet">
      {% for page in subsection.pages %}
      <li>
        {% if page.extra.state %}<span class="grey"
          >{{ page.extra.state }}</span
        >
        {% endif %}
        <a href="{{ page.permalink }}">{{ page.title }} </a>

        {% if page.extra.description %}
        <div class="page-description grey">{{ page.extra.description }}</div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}</span
  >
  {% endfor %}
</div>
{% endblock content %}
