<div class="navigation">
      <div class="navigation-content">
       <a class="headline" href="{{config.base_url}}">
        <img src="{{ get_url(path="images/logo.png") }}" alt="GlitchedFactory's logo" loading="lazy"/>
        <span class="website-title">Glitched Factory</span>
       </a>
       <a class="nav-item" id="menu-projects" href="/projects">
        Projects
       </a>
       <a class="nav-item" id="menu-software" href="/software">
           Software
       </a>
      </div>
</div>
