<a href="{{ page.permalink }}">
  <div class="card_content">
    <h3>{{ page.title }}</h3>
    {% if page.extra.description %}
    <div class="no-bottom grey">{{ page.extra.description }}</div>
    {% endif %}
  </div>
</a>
