{% extends "base.html" %} {% block content %}
<div class="article-head">
  <h1>
    {{ page.title }}
  </h1>
  {% if page.extra.links %}
  <div class="article-links">
    {% for link in page.extra.links %}
    <span><a href="{{ link[1] }}" alt="{{ link[0] }}">{{ link[0] }}</a></span
                                                                       >{% endfor %}
  </div>
  {% endif %}
</div>
{{ page.content | safe }}
{% endblock content %}
