{% extends "base.html" %} {% block content %}
<div class="projects">
  <div class="article-head">
    <h1>{{ page.title }}</h1>
    {% set s = get_section(path=page.ancestors[2], include_pages=false) %}
    <a href="{{s.permalink}}">← Back to {{s.title}}</a>
    {% if page.extra.links %}
    <div class="article-links">
      {% for link in page.extra.links %}
      <span><a href="{{ link[1] }}" alt="{{ link[0] }}">{{ link[0] }}</a></span
      >{% endfor %}
    </div>
    {% endif %}
  </div>
  <div>{{ page.content | safe }}</div>
</div>
{% endblock content %}
