{% extends "base.html" %} {% block content %}
<div class="projects">
  {% if section.pages %}
  <ul class="no-bullet">
    {% for page in section.pages %}
    <li>
      {% if page.extra.image %}
      <a href="{{ page.permalink }}">
        <div class="teaser">
          <h2>{{ page.title }}</h2>
          <img
            src="{{ page.extra.image }}"
            alt="{{ page.title }}"
            loading="lazy"
          />
        </div>
      </a>
      {% else %}
      <a href="{{ page.permalink }}">{{ page.title }} </a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock content %}
