{% extends "base.html" %} {% block content %}
<div class="projects">
  <ul class="no-bullet">
    {% set index = get_section(path="projects/_index.md") %} {% if
    index.subsections %} {% for s in index.subsections %} {% set subsection =
    get_section(path=s) %}
    <li>
      {% if subsection.extra.image %}
      <a href="{{ subsection.permalink }}">
        <div class="teaser">
          <h2>{{ subsection.title }}</h2>
          <img
            src="{{ subsection.extra.image }}"
            alt="{{ subsection.title }}"
            loading="lazy"
          />
        </div>
      </a>
      {% else %}
      <a href="{{ subsection.permalink }}">{{ subsection.title }} </a>
      {% endif %}
    </li>
    {% endfor %} {% endif %}
  </ul>
</div>
{% endblock content %}
