{% extends "base.html" %} {% block content %}
<h1>{{ section.title }}</h1>
{% if section.pages %}
<ul class="no-bullet">
  {% for page in section.pages %}
  <li>
    {% if page.extra.state %}<span class="grey"
                                   >{{ page.extra.state }}</span
                                                            >
    {% endif %}
    <a href="{{ page.permalink }}">{{ page.title }} </a>
{% if page.extra.description %}
    <div class="page-description grey">{{ page.extra.description }}</div>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %} {% endblock content %}
