{% extends "base.html" %} {% block content %}
<div class="software">
  <div class="center">
    <iframe
      frameborder="0"
      src="https://itch.io/embed/1652402?bg_color=1C1C1C&amp;fg_color=E3E3E3&amp;link_color=b91a54&amp;border_color=333333"
      width="552"
      height="167"
      class="desktop"
      ><a href="https://duckpuck.itch.io/glitchedfactory"
        >Glitched Factory by duckpuck</a
      ></iframe
    >
    <iframe
      frameborder="0"
      class="phone"
      src="https://itch.io/embed/1652402?bg_color=1C1C1C&amp;fg_color=E3E3E3&amp;link_color=b91a54&amp;border_color=333333"
      width="208"
      height="167"
      ><a href="https://duckpuck.itch.io/glitchedfactory"
        >Glitched Factory by duckpuck</a
      ></iframe
    >
  </div>

  {% include "navigation.html" %}
</div>
{% endblock content %}
